.categories6 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 95.8px;
}
.item-link104,
.item-link105,
.item-link106 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.item-link107 {
  position: relative;
  line-height: 135%;
}
.item-link107,
.item-link108 {
  align-self: stretch;
}
.item-link108,
.item-link109,
.item-link110 {
  position: relative;
  line-height: 22px;
}
.item-link110 {
  line-height: 19px;
}
.item-link110,
.item-link111 {
  align-self: stretch;
}
.item-link111,
.item-link112,
.item-link113 {
  position: relative;
  line-height: 135%;
}
.item-link113 {
  line-height: 19px;
}
.item-link114,
.item-link115,
.item-link116 {
  align-self: stretch;
  position: relative;
  line-height: 19px;
}
.item-link116 {
  line-height: 135%;
}
.categories-parent,
.category-links3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.category-links3 {
  align-self: stretch;
  gap: 2.8px;
  font-size: 16px;
  font-family: Archivo;
}
.categories-parent {
  flex: 0.8216;
  padding: 0 33px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 139px;
  max-width: 185px;
}
.help4 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 42.1px;
}
.item-link117 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.item-link118,
.item-link119,
.item-link120 {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.item-link118 {
  line-height: 22px;
  display: inline-block;
  min-width: 127px;
}
.item-link119,
.item-link120 {
  align-self: stretch;
  line-height: 19.2px;
}
.item-link120 {
  line-height: 135%;
}
.help-legal,
.support-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.support-links {
  align-self: stretch;
  gap: 2.1px;
  font-size: 16px;
  font-family: Archivo;
}
.help-legal {
  flex: 0.6865;
  padding: 0 58px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 170px;
  max-width: 185px;
}
.about-us4 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 82.7px;
}
.item-link121 {
  align-self: stretch;
  line-height: 22px;
}
.item-link121,
.item-link122,
.item-link123 {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.item-link122 {
  align-self: stretch;
  line-height: 135%;
}
.item-link123 {
  line-height: 22px;
}
.item-link124,
.item-link125 {
  position: relative;
  line-height: 135%;
}
.item-link125 {
  align-self: stretch;
}
.about-us-links1,
.about-us-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-links1 {
  align-self: stretch;
  gap: 2.6px;
  font-size: 16px;
  font-family: Archivo;
}
.about-us-parent {
  flex: 0.7027;
  padding: 0 55px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 139px;
  max-width: 185px;
}
.legal4 {
  width: 68px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.item-link126 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.item-link127,
.item-link128 {
  width: 118px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
}
.item-link128 {
  width: 68px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}
.item-link129 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 83.9px;
}
.item-link-terms-and-condit-parent2 {
  align-self: stretch;
  flex-direction: column;
  gap: 3px;
  font-size: 16px;
  font-family: Archivo;
}
.frame-parent29,
.help-legal1,
.item-link-terms-and-condit-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.help-legal1 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
  min-width: 170px;
  max-width: 185px;
}
.frame-parent29 {
  width: 938px;
  flex-direction: row;
  gap: 66px;
  max-width: 100%;
}
.vector-icon4 {
  height: 19.6px;
  width: 57px;
  position: relative;
}
.gift-rendezvous8 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-transform: capitalize;
}
.logo-container4 {
  justify-content: center;
  gap: 5.8px;
}
.footer-content4,
.logo-container4,
.logo8 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo8 {
  overflow: hidden;
  justify-content: flex-start;
  padding: 20px 0;
  font-size: 27.2px;
}
.footer-content4 {
  width: 1370.8px;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.background15 {
  background-color: #fbd66b;
  align-items: flex-start;
  padding: 24px 264px;
  box-sizing: border-box;
}
.background15,
.footer-container2,
.footer4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-container2 {
  background-color: #f9d76d;
  align-items: center;
}
.footer4 {
  overflow: hidden;
  align-items: flex-start;
  text-align: left;
  font-size: 18px;
  color: #1c1c1c;
  font-family: Raleway;
}
@media screen and (max-width: 1800px) {
  .footer-content4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .frame-parent29 {
    flex-wrap: wrap;
    gap: 33px;
  }
  .background15 {
    padding-left: 132px;
    padding-right: 132px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .frame-parent29 {
    gap: 16px;
  }
  .background15 {
    padding-left: 66px;
    padding-right: 66px;
    box-sizing: border-box;
  }
  .footer4 {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .about-us-parent,
  .categories-parent,
  .help-legal {
    flex: 1;
  }
  .gift-rendezvous8 {
    font-size: 22px;
    line-height: 33px;
  }
  .background15 {
    padding: 20px;
    box-sizing: border-box;
  }
}
