.categories2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 95.8px;
}
.item-link,
.item-link1,
.item-link2 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.item-link3 {
  position: relative;
  line-height: 135%;
}
.item-link3,
.item-link4 {
  align-self: stretch;
}
.item-link4,
.item-link5,
.item-link6 {
  position: relative;
  line-height: 22px;
}
.item-link6 {
  line-height: 19px;
}
.item-link6,
.item-link7 {
  align-self: stretch;
}
.item-link7,
.item-link8,
.item-link9 {
  position: relative;
  line-height: 135%;
}
.item-link9 {
  line-height: 19px;
}
.item-link10,
.item-link11,
.item-link12 {
  align-self: stretch;
  position: relative;
  line-height: 19px;
}
.item-link12 {
  line-height: 135%;
}
.category-column,
.category-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.category-links {
  align-self: stretch;
  gap: 2.8px;
  font-size: 16px;
  font-family: Archivo;
}
.category-column {
  flex: 0.8216;
  padding: 0 33px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 139px;
  max-width: 185px;
}
.help {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 42.1px;
}
.item-link13 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.item-link14,
.item-link15,
.item-link16 {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.item-link14 {
  line-height: 22px;
  display: inline-block;
  min-width: 127px;
}
.item-link15,
.item-link16 {
  align-self: stretch;
  line-height: 19.2px;
}
.item-link16 {
  line-height: 135%;
}
.footer-column-titles,
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links {
  align-self: stretch;
  gap: 2.1px;
  font-size: 16px;
  font-family: Archivo;
}
.footer-column-titles {
  flex: 0.6865;
  padding: 0 58px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 170px;
  max-width: 185px;
}
.about-us {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 82.7px;
}
.item-link17 {
  align-self: stretch;
  line-height: 22px;
}
.item-link17,
.item-link18,
.item-link19 {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.item-link18 {
  align-self: stretch;
  line-height: 135%;
}
.item-link19 {
  line-height: 22px;
}
.item-link20,
.item-link21 {
  position: relative;
  line-height: 135%;
}
.item-link21 {
  align-self: stretch;
  text-decoration: none;
  color: #1c1c1c;
}
.about-column,
.about-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-links {
  align-self: stretch;
  gap: 2.6px;
  font-size: 16px;
  font-family: Archivo;
}
.about-column {
  flex: 0.7027;
  padding: 0 55px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 139px;
  max-width: 185px;
}
.legal {
  width: 68px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.item-link22 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  text-decoration: none;
  color: #1c1c1c;
}
.item-link23,
.item-link24 {
  width: 118px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  text-decoration: none;
    color: #1c1c1c;
}
.item-link24 {
  width: 68px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}
.item-link25 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 83.9px;
  text-decoration: none;
  color: #1c1c1c;
}
.item-link-terms-and-condit-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 3px;
  font-size: 16px;
  font-family: Archivo;
}
.footer-column-titles1,
.footer-columns,
.item-link-terms-and-condit-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-column-titles1 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
  min-width: 170px;
  max-width: 185px;
}
.footer-columns {
  flex-direction: row;
  gap: 66px;
  max-width: 100%;
}
.logo-icon {
  height: 19.6px;
  width: 57px;
  position: relative;
}
.gift-rendezvous1 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-transform: capitalize;
}
.container25 {
  justify-content: center;
  gap: 5.8px;
}
.container25,
.footer-content,
.logo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo1 {
  overflow: hidden;
  justify-content: flex-start;
  padding: 20px 0;
  font-size: 27.2px;
  width: 100%;
}
.footer-content {
  justify-content: space-between;
  width: 1300px;

}
.background5 {
  background-color: #fbd66b;
  align-items: flex-start;
  padding: 24px 264px;
  box-sizing: border-box;
}
.background5,
.footer,
.footer-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-container {
  background-color: #f9d76d;
  align-items: center;
}
.footer {
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  text-align: left;
  font-size: 18px;
  color: #1c1c1c;
  font-family: Raleway;
}
@media screen and (max-width: 1800px) {
  .footer-content {
  }
}
@media screen and (max-width: 1350px) {
  .footer-columns {
    flex-wrap: wrap;
    gap: 33px;
  }
  .background5 {
    padding-left: 132px;
    padding-right: 132px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .footer-columns {
    gap: 16px;
  }
  .background5 {
    padding-left: 66px;
    padding-right: 66px;
    box-sizing: border-box;
  }
  .footer {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .about-column,
  .category-column,
  .footer-column-titles {
    flex: 1;
  }
  .gift-rendezvous1 {
    font-size: 22px;
    line-height: 33px;
  }
  .background5 {
    padding: 20px;
    box-sizing: border-box;
  }
}
