.logo-icon1 {
  align-self: stretch;
  height: 19.6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-icon-wrapper {
  width: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 10.7px;
  box-sizing: border-box;
}
.gift-rendezvous4 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-transform: capitalize;
  flex-shrink: 0;
}
.frame-parent26,
.logo-frame,
.logo4 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent26 {
  flex-direction: row;
  align-items: flex-end;
  gap: 5.8px;
}
.logo-frame,
.logo4 {
  align-items: flex-start;
}
.logo4 {
  overflow: hidden;
  flex-direction: row;
}
.logo-frame {
  flex-direction: column;
  padding: 2.5px 0 0;
}
.what-are-you2 {
  position: relative;
  line-height: 135%;
}
.input4,
.search-bar1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input4 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
}
.search-bar1 {
  flex: 1;
  flex-direction: column;
  padding: 13.5px 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.rectangle2 {
  align-self: stretch;
  width: 882.3px;
  position: relative;
  display: none;
  max-width: 100%;
}
.symbol39 {
  flex: 1;
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  min-width: 21.1px;
}
.background10,
.button5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.button5 {
  width: 53.7px;
  border-radius: 0 24px 24px 0;
  background-color: #8b9fe8;
  padding: 14.4px 16px 10.8px;
  z-index: 2;
  text-align: center;
  font-size: 20.8px;
  color: #333e4d;
  font-family: Inter;
}
.background10 {
  width: 944px;
  border-radius: 24px;
  background-color: #fff;
  padding: 0 0 0 12px;
  gap: 11px;
  max-width: 100%;
  font-size: 16px;
  color: #757575;
  font-family: Archivo;
}
.symbol40 {
  width: 21.1px;
  position: relative;
  line-height: 20.8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 21.1px;
}
.en2,
.symbol41 {
  position: relative;
  display: inline-block;
}
.en2 {
  letter-spacing: 0.15em;
  line-height: 18px;
  text-transform: capitalize;
  min-width: 24px;
}
.symbol41 {
  line-height: 12px;
  text-transform: uppercase;
  min-width: 6.8px;
}
.symbol-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.5px;
  font-size: 12px;
  font-family: Inter;
}
.button6,
.language-dropdown2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.language-dropdown2 {
  align-items: flex-end;
  gap: 0.5px;
  font-size: 14px;
  font-family: Archivo;
}
.button6 {
  border-radius: 160px;
  background-color: #fff;
  align-items: flex-start;
  padding: 9.6px 23px 8.4px 24px;
  gap: 7.2px;
}
.symbol42 {
  flex: 1;
  position: relative;
  line-height: 37px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 18.5px;
}
.button-show-login-dialog2 {
  width: 37px;
  border-radius: 18.5px;
  background-color: #8b9fe8;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 9px 0.5px;
  box-sizing: border-box;
}
.symbol43 {
  width: 23.8px;
  position: relative;
  line-height: 37px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration: none;
}
.button-show-products-in-cart2 {
  width: 37px;
  border-radius: 18.5px;
  background-color: #8b9fe8;
  flex-direction: row;
  padding: 0 6px 0.5px;
  box-sizing: border-box;
}
.button-show-products-in-cart2,
.user-actions1,
.user-buttons2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-buttons2 {
  flex-direction: row;
  gap: 8px;
}
.user-actions1 {
  flex-direction: column;
  padding: 3.6px 0 0;
  text-align: center;
  font-size: 20.8px;
  color: #333e4d;
  font-family: Inter;
}
.frame-parent25 {
  width: 1660px;
  justify-content: space-between;
  gap: 20px;
}
.background9,
.frame-parent25,
.header4,
.section2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.background9 {
  flex: 1;
  background-color: #fbd66b;
  justify-content: center;
  padding: 24px 20px 30px;
  box-sizing: border-box;
}
.header4,
.section2 {
  justify-content: flex-start;
}
.section2 {
  flex: 1;
}
.header4 {
  align-self: stretch;
  text-align: left;
  font-size: 27.2px;
  color: #1c1c1c;
  font-family: Raleway;
}
@media screen and (max-width: 1800px) {
  .frame-parent25 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .search-bar1 {
    min-width: 100%;
  }
  .background10 {
    flex-wrap: wrap;
    padding-right: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .gift-rendezvous4 {
    font-size: 22px;
    line-height: 33px;
  }
  .symbol39,
  .symbol40 {
    font-size: 17px;
    line-height: 17px;
  }
  .symbol42,
  .symbol43 {
    font-size: 17px;
    line-height: 30px;
  }
}
